<section id="viewhotelDetails">
  <h2>Details</h2>
  <div class="hotel-ticket">
    <div class="hotel-left">
      <img
        src="{{hotelData.imageUrl}}"
        alt=""
      />
    </div>
    <div class="hotel-right">
      <div>
        <h3>{{hotelData.name}}</h3>
      </div>
      <div>
        {{hotelData.city}}
      </div>
      <p><span>Free rooms: {{hotelData.rooms}}</span> </p>
      <p><span class="green">You already have booked a room</span> </p>

      <a href="/hotels/book" class="book">Book</a>
      {{#if isOwner}}
      <a href="/hotels/edit/{{hotelData._id}}" class="edit">Edit</a>
      <a href="/hotels/delete" class="remove">Delete</a>
      {{/if}}
    </div>

  </div>
</section>